In [13]:
from pprint import pprint as p
from collections import Counter

In [30]:
t = [3, 4, 5, 6]
t

[3, 4, 5, 6]

In [32]:
t, t[0], t[-1]

([3, 4, 5, 6], 3, 6)

In [ ]:
t[0:1], t[0:0], t[0:2], t[0:-1], t[0:], t[:], t[-2], t[::2], t[1::2], t[::-1], t[2::-1]

([3],
 [],
 [3, 4],
 [3, 4, 5],
 [3, 4, 5, 6],
 [3, 4, 5, 6],
 5,
 [3, 5],
 [4, 6],
 [6, 5, 4, 3],
 [6, 5, 4, 3])

In [42]:
s = {1, 2, 3}
s.add(4)
s.add(4)
s.add(5)
s

{1, 2, 3, 4, 5}

In [43]:
t = list(set([1, 3, 2, 5, 2, 3, 5, 6, 7, 3, 5, 3]))
t

[1, 2, 3, 5, 6, 7]

In [5]:
t = [1, 2, 3, 5, 6, 7, 9]
x = [ item**2 for item in t ]
z = [ item + 5 for item in t if item > 5]
x, z

([1, 4, 9, 25, 36, 49, 81], [11, 12, 14])

In [6]:
{str(item):[item] for item in t}

{'1': [1], '2': [2], '3': [3], '5': [5], '6': [6], '7': [7], '9': [9]}

In [7]:
squares = {item:item*item for item in t}
squares

{1: 1, 2: 4, 3: 9, 5: 25, 6: 36, 7: 49, 9: 81}

In [8]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x = [ val**2 for val in nums if val % 2 == 0]
x

[4, 16, 36, 64, 100]

In [12]:
t = [13, 4, 34, 62, 31, 5, 9, 8]
t.sort()
t

[4, 5, 8, 9, 13, 31, 34, 62]

In [ ]:
scores = {'Alice': 85, 'Charlie': 94, 'Bob': 78}
sorted_scores = (scores.items(), )

In [14]:
things = ['apple', 'banana', 'peach', 'banana', 'peach', 'apple', 'apple', 'orange']
counter = Counter(things)
print(counter)

Counter({'apple': 3, 'banana': 2, 'peach': 2, 'orange': 1})

In [15]:
names = ['Alice', 'Bob', 'Charlie']
scores = [94, 89, 97]
combined = list(zip(names, scores))
combined

[('Alice', 94), ('Bob', 89), ('Charlie', 97)]

In [17]:
data = {name:score for name, score in combined}
data

{'Alice': 94, 'Bob': 89, 'Charlie': 97}

In [24]:
toplist = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

z = [item+10 for sublist in toplist for item in sublist]
z

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
y = [[item+10 for item in row] for row in toplist]
y

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]